/* configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    font-size: 62.5%;
    --text-color: rgb(33, 33, 37);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    font-weight: 50rem;
    line-height: 14.8rem;

    color: var(--text-color)
}

/* estilizando BUTTONS */
.button-set button {
    background-color: white;
    border: none;
}

.button-kind-sounds button {
    border: none;
}

.button-kind-sounds button img {
    width: 10rem;
    height: 10rem;
}

/* posicionamento */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30rem auto;
    max-width: 820px;
    gap: 192px;
}

.timer-group {
    flex: 1; 
}

.button-kind-sounds {
    display: grid;
    grid-template-columns: 6rem 6rem;
    grid-template-rows: 6rem 6rem;
    gap: 3.2rem;

    flex: 1;
}