/* configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    font-size: 62.5%;
    --text-color: rgb(33, 33, 37);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    font-weight: 500;
    line-height: 14.8rem;

    color: var(--text-color)
}

/* estilizando BUTTONS */
.button-set button {
    background-color: white;
    border: none;
}

.button-kind-sounds button {
    border: none;
}

.button-kind-sounds button img {
    width: 10rem;
    height: 10rem;
}

/* posicionamento */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30rem auto;
    max-width: 82rem;
    gap: 19.2rem;
}
.timer {
    display: flex;
    justify-content: center;
    margin-bottom: 1.7rem
    
}
.button-set {
    display: flex;
    gap: 4rem;
}

.button-kind-sounds {
    display: grid;
    grid-template-columns: 6rem 6rem;
    grid-template-rows: 6rem 6rem;
    gap: 13rem; 
    
}

img {
    border: 4px solid rgb(19, 18, 18);
    border-radius: 15px;
}

img:hover {
    border: 4px solid rgb(93, 203, 218);
}

img, svg{
    cursor: pointer;
}
